annotated-types
anyio
certifi
confluent-kafka
distro
Faker
fastavro
h11
httpcore
httpx
idna
jiter
numpy
openai
pandas
py4j
pydantic
pydantic_core
pyspark
python-dateutil
pytz
six
sniffio
tqdm
typing-inspection
typing_extensions
tzdata
